.message-card {
  display: flex;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  border: 3px solid red;
  color: black;
  font-weight: 500;
  border-radius: 10px;
}
